<form asp-controller="home" asp-action="GetList" method="post">

    <div class="form-group">

        <input type="text" name="sList" class="form-control" />
    </div>
    <div class="form-group">

        <input type="text" name="sList" class="form-control" />
    </div>

    <div class="form-group">

        <input type="text" name="sList" class="form-control" />
    </div>

    <div>
        <input value="save" type="submit"/>
    </div>
</form>