
<table custom-color="primary">
    <tr>
        <td>
            welcome to home page
        </td>
    </tr>
</table>

<p paragraph-color="text-bg-primary">
        with tag helper
</p>


<p>
    with out tag helper
</p>

<hr />
<alert inner-text="this is text from outSide"></alert>