<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>header</h2>
    <div>
        @RenderBody()
    </div>
    <h2>footer</h2>    
    @await RenderSectionAsync("kitty",false)
</body>
</html>
